---
import Layout from "~/layouts/Layout.astro";
---

<Layout heading="プライバシーポリシー">
  <article class="leading-loose">
    <section>
      <h2 class="mb-4 text-2xl">掲載されている広告について</h2>
      <p>
        当サイトでは、第三者配信の広告サービス「Googleアドセンス」を利用しています。
        このような広告配信事業者は、ユーザーの興味に応じた商品やサービスの広告を表示するため、当サイトや他サイトへのアクセスに関する情報
        『Cookie』（氏名、住所、メール
        アドレス、電話番号は含まれません）を使用することがあります。
        またGoogleアドセンスに関して、このプロセスの詳細やこのような情報が広告配信事業者に使用されないようにする方法については「<a
          href="https://policies.google.com/technologies/ads?gl=jp"
          target="_blank"
          class="text-primary-dark"
          >ポリシーと規約<i class="ml-1 align-middle i-[ic/round-open-in-new]"
          ></i>
        </a>」をご覧ください。
      </p>
    </section>

    <section class="mt-14">
      <h2 class="mb-4 text-2xl">アクセス解析ツールについて</h2>
      <p>
        当サイトでは、Googleによるアクセス解析ツール「Googleアナリティクス」を利用しています。
        Googleアナリティクスはトラフィックデータの収集のためにCookieを使用しています。
        トラフィックデータは匿名で収集されており、個人を特定するものではありません。
        この機能はCookieを無効にすることで収集を拒否することができますので、お使いのブラウザの設定をご確認ください。
        本規約に関して、詳しくは｢<a
          href="https://marketingplatform.google.com/about/analytics/terms/jp/"
          target="_blank"
          class="text-primary-dark"
          >Google アナリティクス利用規約<i
            class="ml-1 align-middle i-[ic/round-open-in-new]"></i>
        </a>｣をご覧ください。
      </p>
    </section>
    <p class="mt-10 text-right">以上</p>
  </article>
</Layout>
