---
import Layout from "~/layouts/Layout.astro";
---

<Layout heading="利用規約">
  <article class="leading-loose">
    <section class="relative mb-8 overflow-y-auto">
      <h2 class="mb-4 text-2xl">免責事項</h2>
      <p>
        当サイトに起因してユーザーに生じたあらゆる損害について一切の責任を負いません。
      </p>
    </section>
    <p class="mt-10 text-right">以上</p>
  </article>
</Layout>
